.inputFirst {
	margin-top: 20%;
	margin-left: 20%;
}

.inputFirst, .inputSecond {
	display: inline-block;
	width: 30%;
}

.buttonAdd {
	float: left;
	margin-left: 25%;
	width: 10%;
	height: 30px;
	margin-top: 10%
}

.buttonMul {
	margin-left: 15%;
	width: 10%;
	height: 30px;
	margin-top: 10%
}

.hide {
	display: none;
}

.steps {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 200%;
	color: #241E8B;
}

.firstInput, .secondInput {
	position: absolute;
	top: 55%;
	width: 30%;
	height: 10%;
	border: 1px solid black;
	text-align: center;
	font-size: 150%;
	color: #742A0E;
}

.firstInput {
	left: 7%;
}

.secondInput {
	left: 55%;
}

.showFirstRoman, .showSecondRoman {
	position: absolute;
	left: 3%;
	font-size: 150%;
	text-align: left;
	color: #194D91;
}

.showFirstRoman {
	top: 10%;
}

.showSecondRoman {
	top: 20%;
}

.substitutionTable, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.substitutionTable {
	position: absolute;
	top: 5%;
	right: 10%;
	width: 30%;
}

th {
	background-color: #F6F88F;
}

td {
	text-align: center;
}

.result, .found, .replacement {
	position: absolute;
	border: 1px solid black;
	text-align: center;
	font-size: 150%;
	color: #742A0E;
}

.result {
	top: 55%;
	height: 10%;
	left: 10%;
	width: 80%;
}

.found {
	top: 55%;
	left: 10%;
	height: 12%;
	width: 30%;
}

.replacement {
	top: 55%;
	left: 60%;
	height: 12%;
	width: 30%;
}

.substitutedValue1, .substitutedValue2{
	position: absolute;
	left: 60%;
	color: #194D91;
	font-size: 150%;
	text-align: left;
	overflow: auto;
}

.substitutedValue1 {
	top: 10%;
}

.substitutedValue2 {
	top: 20%;
}

.unGroupedValue {
	position: absolute;
	width: 100%;
	height: 10%;
	top: 20%;
	text-align: center;
	color: #194D91;
	font-size: 150%;
}

span {
	font-size: 200%;
	color: red;
}

.slide {
	top: 70%;
}