.col-sm-4 {
    padding-top: 5%;
    width: 225px;
	height: 225px;
}

.col-sm-2, .col-sm-1, .col-sm-3 {
	padding-top: 5%;
}

.top .screen {
	top: 2%;
	position: relative;
	height: 34px;
	width: 194px;
	left: 0%;
	background: white; 
	-webkit-border-radius: 3px;
		
	/* Typography*/
	top: 10%; 
	font-size: 15px;
	line-height: 4vmin;
	color: black;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

.stack {
	width: 52px;
}

.list-group-item {
	padding-top: 0px;
	text-align: center;
	height: 22px;
	font-size: 15px;
}

.expression, .evalExpr, .expression, .exprEval {
	font-size: 15px;
}
.exprEval {
	position: relative;
	clear: left;
	top: 25%;
	font-size: 15px;
	color: red;
}

#pauseBtn, #rewindBtn {
	padding: 10px, 2px;
	width: 22px;
	height: 22px;
}

#execMsgId, #outputMsgId {
	width: 100%;
	height: auto;
	top: 10%;
	font-size: 15px;
}