body {
background:#FFF;
text-align:left;
min-width:20%;
}

#maindiv h3 {
color:#6D1386;
line-height:30px;
font-weight:700;
font-family:"Times New Roman", Georgia, serif;
margin:30px;
}

#outerdiv {
text-align:center;
min-width:30%;
margin:10px;
}

#maindiv {
text-align:center;
display:inline_block;
}

#arraysize {
min-width:10%;
margin:10px;
}

label {
color:blue;
width:5em;
font-size:17px;
margin:5px;
}

.text {
width:10%;
}

#size {
display:inline-block;
text-align:center;
width:auto;
margin:5px;
}

#myform {
display:none;
}

#result {
display:inline-block;
text-align:center;
white-space:nowrap;
font-size:20px;
margin-top:100px;
}

.box {
border:2px solid;
font-size:20px;
white-space:normal;
display:inline-block;
background-color:#FF0;
position:relative;
border-color:#000;
margin:5px;
padding:5px;
}

#sbt {
background-color:0;
color:#FFF;
width:30%;
}

#btn {
text-align:center;
margin:5px;
}

.bootbtn {
display:inline-block;
margin:5px;
}